* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --paper_gradient_1: hsl(230, 89%, 62%);
    --paper_gradient_2: hsl(230, 89%, 65%);
    --scissor_gradient_1: hsl(39, 89%, 49%);
    --scissor_gradient_2: hsl(40, 84%, 53%);
    --rock_gradient_1:hsl(349, 71%, 52%);
    --rock_gradient_2:hsl(349, 70%, 56%);


    --inner_circle : 10vw;
    --outer_circle : 13vw;
    
    --top_position : 33%;
    --left_position: 33%;

    --shadow_offset: 8px
}

body {
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.1rem;

    background: repeating-radial-gradient(
    circle at top center,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}

.header {
    max-width: 45%;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 1rem;
    margin-inline: auto;
    padding: 1.3rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scoreboard {
    background-color: white;
    padding: 0.8rem 2.8rem;
    border-radius: 0.5rem;
}

.text {
    color: hsl(229, 64%, 46%);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

#score {
    font-size: 4.2rem;
    line-height: 4.2rem;
    color: hsla(228, 25%, 31%, 0.854);
    text-align: center;
}

/* Start of main */

.bg-triangle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.inner-circle {
    width: var(--inner_circle);
    height: var(--inner_circle);
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 var(--shadow_offset) 0px hsla(228, 25%, 31%, 0.292) inset;
}


.inner-circle img {
    width: 45%;
}

.outer-circle {
    width: var(--outer_circle);
    height: var(--outer_circle);
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayGame {
    --inner_circle: 13vw;
    --outer_circle: 16vw;
    --top_position: 48%;
    --left_position: 30%;
    --shadow_offset: 12px;
}

.hideElements {
    visibility: hidden;
}

.h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: white;
}

.heading {
    display: flex;
    margin-top: 7rem;
    padding-left: 3rem;
    justify-content: center;
    gap: 11rem;
}

.housepicked {
    background-color: blue;
    --shadow_offset: 0;
}

.paper {
    background: linear-gradient(var(--paper_gradient_1), var(--paper_gradient_2));
    position: absolute;
    top: var(--top_position);
    left: var(--left_position);
    box-shadow: 0 var(--shadow_offset) 0px var(--paper_gradient_1);
}

.scissor {
    background: linear-gradient(var(--scissor_gradient_1),var(--scissor_gradient_2));
    position: absolute;
    top: var(--top_position);
    right: var(--left_position);
    box-shadow: 0 var(--shadow_offset) 0px var(--scissor_gradient_1);
}

.rock {
    background: linear-gradient(var(--rock_gradient_1), var(--rock_gradient_2));
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 var(--shadow_offset) 2px var(--rock_gradient_1);
}

.rules {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: white;
    background: transparent;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 0.5rem;
    padding: 0.7rem 1.5rem;
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
}

#playAgain {
    width: 12rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: var(--rock_gradient_1);
    padding: 1rem 0;
    border: none;
    border-radius: 0.5rem;
    z-index: inherit;
}

.result {
    font-size: 3.2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.1rem;
    z-index: inherit;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -15;
    visibility: hidden;
}

.showResults {
    visibility: visible;
    z-index: 15;
}